################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCdemo/App_Data/MVCdemo.Models.PlanetContext_log.ldf
/MVCdemo/App_Data/MVCdemo.Models.PlanetContext.mdf
